.header {
  overflow: hidden;

}
.header background-image {
  opacity: 0.6;
}


@media screen and (max-width: 500px) {
  header {
    float: none;
  *display: block;
    text-align: left;
  /border-style: outset;
  border-width: 5px;
  border-color: #282828;
  text-shadow: 2px 2px gray;
   background-image: url("header.png");
background-repeat: no-repeat;
background-size: cover
  /*padding: 30px 300px;*/
  }
  h1 { color: #lightgrey;
    font-family: Arial, Helvetica, sans-serif;}
text-align: left;
}
}

#map {border-style: outset;
    border-style: solid;
  border-color: black;
}
footer {
  background-color: black;
  color: lightgrey;
   bottom: 0;
   width: 100%;
   height: 60px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;


}